.segmentColumn {
    height: 100%;
    border: 2px dashed #ddd;
    border-radius: 0.2em;
    width: 100%;
}

.card-content {
    height: 100%;
    overflow: auto;
}

.rootExpanded {
    width: 99vw !important;
    height: 100%;
    transition: 1s ease all;
}
